html{
    scroll-behavior: smooth;
  }
  .navbar{
    background: linear-gradient(to left top, #383f47, #8B53FF);
  }
  
  .logo {
      transform: translateY(-2px);
  }
.heading-1{
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-left: 3rem;
}
.text-box{
    max-width: 60%;
    margin-left: 20%;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
@media (max-width: 768px){
    .text-box{
        max-width: 80%;
        margin-left: 8%;
    }
}
.underline-1{
    position: relative;
    display: block; /* Change to block for full-width centering */
    font-size: 5rem; /* Adjust font size as needed */
    text-align: left; /* Centers the text within the block */
    color: #383f47;
    margin: 10px auto; /* Centers the block element */
    margin-bottom: 7rem;
}
.underline-1::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0; /* Center-align the underline (adjust based on the width) */
    width: 18%; /* Set the desired underline width */
    height: 4px;
    border-radius: 10px;
    background-color: blueviolet;
    transition: width 0.3s ease;
}
@media (max-width: 768px){
    .underline-1{
      font-size: 2.5rem;
    }
    .underline-1::after{
      width: 25%;
      left: 0;
      margin-left: 2px;
    }
  }
  .card-img{
    object-fit: cover;
    filter: brightness(0.4);
  }
  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
  }
  
  .reveal.active{
    transform: translateY(0px);
    opacity: 1;
  }

.partenariats{
  display: flex;
  gap: 50px;
  margin-left: 10%;
  margin-top: 5%;
}
@media(max-width: 768px){
  .partenariats{
    flex-direction: column;
    margin-left: 30%;
  }
}
  .rounde-2{
    width: 200px; /* Adjust as needed */
    height: 200px; /* Ensures a perfect circle */
    border-radius: 50%; /* Makes the image round */
    object-fit: cover; /* Ensures the image fills the circle */
    border: 5px solid #8B53FF; /* Optional border */
    margin-left: 2%;
    margin-top: 5%;
  
  }
  @media(max-width: 768px){
    .rounde-2{
        width: 150px;
        height: 150px;
       
        border: 3px solid #8B53FF;
    }
  
  }


  .rounde3{
    color: #383f47;
    align-content: first baseline;
    max-width: 50%;
    margin-left: 7%;
    margin-top: 2%;
  }
  .rounde3 h2{
    max-width: 50%;
    font-size: 35px; 
    font-weight: bolder;
    color:  #383f47;
  }
  .rounde3 h2:hover{
    color: hotpink !important;
  }
  @media(max-width: 768px){
    .rounde3{
        max-width: 100%;
        margin-left: 6%;
    }
    .rounde3 h2{
        font-size: 35px;
  
    }
  }

  .rounde-4{
    width: 200px; /* Adjust as needed */
    height: 200px; /* Ensures a perfect circle */
    border-radius: 50%; /* Makes the image round */
    object-fit: cover; /* Ensures the image fills the circle */
    border: 5px solid #8B53FF; /* Optional border */
    margin-left: 70%;
    margin-top: 5%;
  
  }
  @media(max-width: 768px){
    .rounde-4{
        width: 150px;
        height: 150px;
        margin-left: 2%;
        border: 3px solid #8B53FF;
    }
  
  }

  .rounde5{
    color: #383f47;
    align-content: first baseline;
    max-width: 50%;
    margin-left: 80%;
    margin-top: 2%;
  }
  .rounde5 h2{
    max-width: 50%;
    font-size: 35px; 
    font-weight: bolder;
    color:  #383f47;
  }
  .rounde5 h2:hover{
    color: hotpink !important;
  }
  @media(max-width: 768px){
    .rounde5{
        max-width: 100%;
        margin-left: 6%;
    }
    .rounde5 h2{
        font-size: 35px;
  
    }
  }


  .rounde-6{
    width: 200px; /* Adjust as needed */
    height: 200px; /* Ensures a perfect circle */
    border-radius: 50%; /* Makes the image round */
    object-fit: cover; /* Ensures the image fills the circle */
    border: 5px solid #8B53FF; /* Optional border */
   margin-left: 140%;
    margin-top: 5%;
  
  }
  @media(max-width: 768px){
    .rounde-6{
        width: 150px;
        height: 150px;
        margin-left: 2%;
        border: 3px solid #8B53FF;
    }
  
  }

  .rounde7{
    color: #383f47;
    align-content: first baseline;
    max-width: 40%;
    margin-left: 170%;
    margin-top: 2%;
  }
  .rounde7 h2{
    max-width: 50%;
    font-size: 35px; 
    font-weight: bolder;
    color:  #383f47;
  }
  .rounde7 h2:hover{
    color: hotpink !important;
  }
  @media(max-width: 768px){
    .rounde7{
        max-width: 100%;
        margin-left: 6%;
    }
    .rounde7 h2{
        font-size: 35px;
  
    }
  }

  .heading-2 {
    p {
      margin: 0 0 20px;
      padding: 100px;
      background-color: #f0f0f0;
      justify-content: center;
      align-items: center;
      height: 30vh;
  }
  }
  .section-heading {
    font-family: "syne", sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: #333333;
    margin: 30px;
  }
  
  .section-heading span {
    color: #031A9A;
  }
  h2{
    text-align: center;
    font-family: "Roboto";
  }

  @media(max-width: 768px){
    .section-heading {
      font-size: 28px; /* Reduced for tablets */
      margin: 15px;
    }
  }
  